<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="formData" method="post">
        <h2>Signup</h2>
        Name     :  <input type="text" name="name" id="name" required placeholder="Enter name" autocomplete="new-password"> <br> <br>
        Email    :  <input type="email" name="email" id="email" required placeholder="Enter email" autocomplete="off"> <br> <br>
        Phone    :  <input type="tel" name="phone" id="phone" required placeholder="Enter Phone No." autocomplete="off"> <br> <br>
        Password :  <input type="password" name="password" id="password" required placeholder="Enter password" autocomplete="off"> <br> <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>